body{
    font-family: Tahoma;
    margin: 0;
    background-color: rgba(218, 226, 230, 0.62); 
}

.h1{
    color: blue;
    font-size: 40px
}

h2, .tezvaoson{
    margin: 5px;
}

.ism{
    margin: 15px 0px 0px 0px;
}

.ismsharf{
    padding: 5px 67px 5px 5px;
    margin: 8px 0px;
}

.akkaunt{
    padding: 5px 122px 5px 5px;
    margin: 8px;
}

button{
    color: white;
    background-color: green;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 160px 10px;
}

.hammasi{
    border: solid rgba(214, 211, 211, 211) 2px;
    border-radius: 10px;
    background-color: white;
    height: 15cm;
    min-width: 13cm;
    max-width: 13cm;
    box-shadow: 1px 1px 20px 10px rgba(128, 128, 128, 0.15);
}

.pol{
    padding: 5px 48px 5px 5px ;
    border: solid rgb(214, 211, 211) 1px;
    border-radius: 5px;
    margin: 10px 8px 10px 8px;
}

.data{
    padding: 5px 104px 5px 5px;
    border: solid rgba(214, 211, 211, 211) 1px;
    margin: 10px 0px;
}

input, select{
    border-radius: 5px;
    border: solid rgba(214, 211, 211, 211) 1px;
}

.bosh{
    border-bottom: solid rgba(214, 211, 211, 211) 1px;
}

.text{
    font-size: 12px;
    margin: 20px 0px;
}

.chap{
    text-align: left;
    text-indent: 10px;
    margin: 10px 0px 0px 0px;
}